{% load static %}
    <header>
        <nav class="navbar navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
                </a>
                {% if username %}
                        <!-- Кнопка для тестирования оплаты, тестовая карта 4111 1111 1111 1111 срок 12/26  CVC 098 -->
                        <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green" onclick="location.href = '/payment'">Тест оплаты</button>
                    <div>
                        <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green" onclick="location.href = '#'">Бесплатный рецепт</button>
                        <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green" onclick="location.href = '/lk'">Личный кабинет: {{username}}</button>
                        <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green" onclick="location.href = '/deauth'">Выйти</button>
                    </div>
                {% else %}

                    <div>
                        <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green" onclick="location.href = '/auth'">Войти</button>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>
