{% extends "master.html" %}
{% load static %}
{% block main %}
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar__opacity">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.8d8f24edbb5f.svg' %}" height="55" width="189" alt="">
                </a>
                <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green" onclick="location.href = '/deauth'">Выйти</button>
            </div>
        </nav>
    </header>
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="card col-12 p-3 mb-5 foodplan__shadow">
                        <h4 class="foodplan__backButton">
                            <strong><small><a href="#" class="link-secondary fw-light"></a></small></strong>
                        </h4>
                        <a href="/" class="link-secondary fw-light foodplan__backButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9%" height="9%" fill="currentColor" class="bi bi-arrow-left-circle"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                            </svg>
                        </a>
                        <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                    </div>

                    <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                        <div class="position-relative">
                            <img src="{% static 'img/test_avatar.png' %}" alt="" width="100" height="100" class="rounded-pill">
                            <span class="badge rounded-circle position-absolute bottom-0 end-0 foodplan__bg_green avatar__plus"><a href="#"
                                    class="link-dark text-decoration-none align-middle">+</a></span>
                        </div>
                        <h3 class="card-title text-center">{{username}}</h3>
                        <div class="d-block">
                            <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green" onclick="location.href = '/deauth'">Выйти</button>
                        </div>
                    </div>

                    <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                            <ul class="nav nav-tabs">
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab1" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#data">Персональные данные</button>
                                </li>
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab2" class="btn shadow-none foodplan__tab-button active" data-bs-toggle="tab" data-bs-target="#menu">Моё меню</button>
                                </li>
                                <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                            </ul>
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade" id="data">
                                    <form method="POST" action="change_email">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="exampleInputEmail1" class="form-label">Имя</label>
                                            </div>
                                            <input type="text" class="form-control" id="name" name="username" value={{username}} readonly>
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                            </div>
                                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value={{email}}>
                                            <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Изменить
                                                почту</button>
                                        </div>
                                    </form>
                                        {% if message%}
                                        <dialog open id="closeMe" class="foodplan__border_green foodplan_green foodplan__shadow" aria-modal="true">
                                            <h2 class="text-center"><strong>{{message}}</strong></h2>
                                            <form method="dialog"><br>
                                                <center><button type="submit" class="btn shadow-nonew-100 btn-outline-success foodplan_green foodplan__border_green">Закрыть</button></center>
                                            </form>
                                        </dialog>
                                        {% endif %}
                                    <form method="POST" action="change_passwd">
                                    {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Пароль</label>
                                            <input type="password" class="form-control" id="password" name="passwd">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Подтверждение пароля</label>
                                            <input type="password" class="form-control" id="PasswordConfirm" name="passwdconfirm">
                                        </div>
                                        <div class="d-block">
                                            <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Изменить
                                                пароль</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade show active" id="menu">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="{% static 'img/circle1.png' %}" alt="" class="w-100">
                                        </div>
                                        {% if meal_plan %}
                                            <div class="col-10 col-md-10">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h2>Персональный план пользователя {{ username }}</h2>
                                                    </div>
                                                    <div class="col-md-12 col-lg-9">
                                                        <h6>{{ meal_plan.menu_type }}</h6>
                                                    </div>
                                                    <div class="col-md-12 col-lg-3 text-muted d-flex flex-column justify-content-between">
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>Персоны: </small><small>{{ number_persons }}</small>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>Аллергии: </small>
                                                            {% for allergen in allergens %}
                                                                <small>
                                                                    {{ allergen }}
                                                                </small>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- <div class="d-flex flex-row justify-content-between">
                                                            <small>Калории: </small><small>1400</small>
                                                        </div> -->
                                                        <div class="d-flex flex-row justify-content-between">
                                                            <small>Приемы пищи: </small>
                                                            {% for dish_type in dish_types %}
                                                                <small>
                                                                    {{ dish_type }}
                                                                </small>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                        <div class="col-10 col-md-10">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h2>Тут будет описание Вашей подписки</h2>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
</body>
